body{
font-family: Arial;
margin:40px;
}

form{
width:400px;
}

label{
display:block;
margin-top:10px;
}

input,select{
width:100%;
padding:8px;
margin-top:5px;
}

button{
margin-top:15px;
padding:10px;
background:#4CAF50;
color:white;
border:none;
cursor:pointer;
}

.error{
color:red;
font-size:12px;
}

.success{
color:green;
font-weight:bold;
margin-bottom:15px;
}

.invalid{
border:2px solid red;
}

.valid{
border:2px solid green;
}

table{
margin-top:20px;
width:100%;
border-collapse:collapse;
}

th,td{
padding:10px;
text-align:center;
}

.deleteBtn{
background:red;
color:white;
border:none;
padding:5px 10px;
cursor:pointer;
}